[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "isoexplorer"]
	path = isoexplorer
	url = https://github.com/isoverse/isoexplorer
[submodule "isoorbi"]
	path = isoorbi
	url = https://github.com/isoverse/isoorbi
[submodule "isoreader2"]
	path = isoreader2
	url = https://github.com/isoverse/isoreader2
